<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiajia.kotlinmodule">

    <application android:name=".KotlinModuleApplication">
        <activity
            android:name=".KotlinModuleJavaMainActivity"
            android:exported="false" />
        <activity
            android:name=".KotlinMainActivity"
            android:exported="false" />
    </application>

</manifest>