<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiajia.mypractisedemos">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 启用应用启动设备发现或者操作蓝牙设备的超级管理员 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".module.edittextview.EditTextActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity
            android:name=".module.flutter.HybridActivity"
            android:exported="false" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.demo.FragmentTestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".module.urldemo.UrlActivity"
            android:exported="true" />
        <activity
            android:name=".module.kotlin.activity.HttpActivity"
            android:exported="true" />
        <activity
            android:name=".module.kotlin.activity.NotificationActivity"
            android:exported="true" />
        <activity android:name=".module.kotlin.activity.DatabaseActivity" />
        <activity android:name=".module.kotlin.activity.SecondActivity" />
        <activity android:name=".module.kotlin.activity.KotlinActivity" />
        <activity android:name=".module.seekbar.ARSeekbarActivity" />
        <activity
            android:name=".module.demo.Demo2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".module.widgetdemo.WidgetDemoActivity" />
        <activity android:name=".module.audio.AudioActivity" /> <!-- MainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name=".module.seekbar.SeekBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".module.mylinearlayout.MyLinearLayoutActivity" />
        <activity android:name=".module.recycgroup1.RecycGroup1Activity" />
        <activity android:name=".module.recycgroup2.RecycGroup2Activity" />
        <activity android:name=".module.decoration.DecorationActivity" />
        <activity android:name=".module.wheeldialog.WheelActivity" />
        <activity android:name=".module.trainrecyclerview.Trainrecyclerview" />
        <activity android:name=".module.citychange.CityChangeActivity" />
        <activity android:name=".module.picturescale.PictureScaleActivity" />
        <activity android:name=".module.mvpdemo.view.LoginMvpActivity" />
        <activity android:name=".module.expendablelayout.ExpendableLayoutActivity" />
        <activity android:name=".module.manfunctionsui.ManyFunctionUIActivity" />
        <activity android:name=".module.popwindow.PopwindowActivity" />
        <activity android:name=".module.dialog.DialogActivity" />
        <activity android:name=".module.jetpack.JetpackActivity" />
    </application>

</manifest>